[Desktop Entry]
Type=Application
Name={BWRAPSH}
Icon=
Exec="/_and/config/bwrapsh/default/bwrapsh_flatpakx11"  _null
StartupWMClass=
X-Flatpak=
MimeType=

