[Desktop Entry]
Type=Application
Name={BWRAPSH} WPS 365
Icon=cn.wps.wps_365
Exec="/_and/config/bwrapsh/default/bwrapsh_flatpakx11" "cn.wps.wps_365" _null

