[Desktop Entry]
Type=Application
Name={BWRAPSH} Heroic Games Launcher
Icon=com.heroicgameslauncher.hgl
Exec="/_and/config/bwrapsh/default/bwrapsh_flatpakx11" "com.heroicgameslauncher.hgl"

