[Desktop Entry]
Type=Application
Name={BWRAPSH} Baidu NetDisk
Icon=com.baidu.NetDisk
Exec="/_and/config/bwrapsh/default/bwrapsh_flatpakx11" "com.baidu.NetDisk" _null

