[Desktop Entry]
Type=Application
Name={FLATPAK} IntelliJ IDEA Community
Icon=com.jetbrains.IntelliJ-IDEA-Community
Exec="/_and/config/bwrapsh/default/bwrapsh_flatpakx11" "com.jetbrains.IntelliJ-IDEA-Community"

