Package: bwrapsh
Section: utils
Priority: standard
Version: 0.0.1
Architecture: any
Depends: bubblewrap (>= 0.11.0), bash, xwayland (>= 23.1.0), xdg-dbus-proxy
Maintainer: goddaneel <goddaneel@gmail.com>
Description: A set simple Bubblewrap startup created using Bash.

