Package: bwrapsh
Version: 0.2.4
Architecture: all
Depends: bubblewrap (>= 0.11.0), 
    bash, 
    coreutils,
    procps
Suggests: libnotify-bin,
    iproute2,
    xdg-dbus-proxy, 
    flatpak (>= 1.16.0),
    xwayland (>= 23.1.0), 
    icewm,
    wl-clipboard,
    xsel,
    konsole,
    dolphin
Maintainer: goddaneel <goddaneel@gmail.com>
Description: A set simple Bubblewrap startup created using Bash.

